* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1440px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(231, 213, 177, 0.4196078431);
}
.container-fluid > .navbar {
  width: 100%;
  color: rgb(180, 175, 175);
  padding-top: 0px;
}
.container-fluid > .navbar > .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333152;
}
.container-fluid > .navbar > .nav > .nav_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-fluid > .navbar > .nav > .nav_info > select {
  font-size: 13px;
  background-color: #333152;
  border: none;
  color: rgb(180, 175, 175);
}
.container-fluid > .navbar > .nav > .nav_info > .addres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.container-fluid > .navbar > .nav > .nav_info > .addres > p {
  margin-bottom: 0px;
  font-size: 13px;
  margin-left: 5px;
}
.container-fluid > .navbar > .nav > .nav_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-fluid > .navbar > .nav > .nav_logo > .logo_info > .med {
  margin-bottom: 0px;
  font-size: 20px;
}
.container-fluid > .navbar > .nav > .nav_logo > .logo_info > .med > span {
  color: red;
}
.container-fluid > .navbar > .nav > .nav_logo > .logo_info > p:nth-child(2) {
  font-size: 8px;
  margin-bottom: 0px;
}
.container-fluid > .navbar > .nav > .nav_end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-fluid > .navbar > .nav > .nav_end > .addres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.container-fluid > .navbar > .nav > .nav_end > .addres > p {
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 13px;
}
.container-fluid > .navbar > .nav_menu {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-fluid > .navbar > .nav_menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
}
.container-fluid > .navbar > .nav_menu > ul > li {
  margin: 0px 20px;
}
.container-fluid > .navbar > .nav_menu > ul > li > a {
  text-decoration: none;
  color: black;
}
.container-fluid > .navbar > .nav_menu > ul > li > select {
  border: none;
  color: black;
  background-color: #F5EDDE;
}
.container-fluid > .product_main > p {
  text-align: center;
  opacity: 0.6;
}
.container-fluid > .product_main > .product_bodys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.container-fluid > .product_main > .product_bodys > .product_carusel {
  width: 60%;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .product_title {
  width: 73%;
  margin: auto;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .product_title > h4 > span {
  text-decoration: none;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  position: absolute;
  top: 40%;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item {
  width: 270px;
  height: auto;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item {
  position: relative;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item > img {
  width: 100%;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item > button {
  position: absolute;
  border: none;
  font-size: 0.9rem;
  padding: 4px 8px;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn1 {
  top: 10px;
  left: 10px;
  background-color: #F4F4F4;
  color: black;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn2 {
  top: 40px;
  left: 10px;
  background-color: #333152;
  color: white;
}
.container-fluid > .product_main > .product_bodys > .product_carusel > .carusel4 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn3 {
  bottom: 10px;
  left: 10px;
  background-color: #EA4953;
  color: white;
}
.container-fluid > .product_main > .product_bodys > .product_info {
  width: 30%;
  align-self: center;
  padding-bottom: 80px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .info_title > p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}
.container-fluid > .product_main > .product_bodys > .product_info > .info_title > p:nth-child(2) {
  color: gray;
  font-size: 10px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > label {
  font-weight: 200;
  font-size: 12px;
  margin-left: 20px;
  color: gray;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > input {
  font-size: 40px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .product_social {
  width: 32%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .product_social > p {
  margin-bottom: 0px;
  color: gray;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > select {
  width: 70%;
  padding: 10px;
  border: 1px solid grey;
  margin-top: 10px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > button {
  width: 70%;
  padding: 10px;
  border: none;
  color: white;
  background-color: #333152;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 10px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .spacer_box {
  padding: 5px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .spacer_box > p {
  color: black;
  font-size: 20px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sell_products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sell_products > .sell_product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sell_products > .sell_product > img {
  width: 70px;
  display: block;
  margin-right: 30px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sell_products > .sell_product > .sell_information {
  margin-right: 10px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sum {
  margin: auto;
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sum > p:nth-child(1) {
  font-size: 18px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > .sum > p:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > button {
  display: block;
  width: 83%;
  margin: auto;
  border: none;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > button:nth-child(4) {
  padding: 10px;
  background-color: #333152;
  color: white;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .offcanvas > .offcanvas-body > .sell_info > button:nth-child(5) {
  margin-bottom: 10px;
  padding: 10px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .product_texts > .product_text {
  width: 70%;
  padding: 10px 0px;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .product_texts > .product_text > p {
  margin-bottom: 0px;
}
.container-fluid > .product_main > .product_bodys > .product_info > .product_body > .product_texts > .product_text:nth-child(3) {
  border-bottom: 1px solid grey;
}
.container-fluid > .adver1_carusel {
  max-width: 1200px;
  margin: auto;
}
.container-fluid > .adver1_carusel > .adver1_title {
  width: 73%;
  margin: auto;
}
.container-fluid > .adver1_carusel > .adver1_title > h4 > span {
  text-decoration: none;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-nav > .owl-next {
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 35px;
  opacity: 0.7;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-nav > .owl-prev {
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 35px;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item {
  width: 270px;
  height: auto;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item {
  position: relative;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item > img {
  width: 100%;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item > button {
  position: absolute;
  border: none;
  font-size: 0.9rem;
  padding: 4px 8px;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn1 {
  top: 10px;
  left: 10px;
  background-color: #F4F4F4;
  color: black;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn2 {
  top: 40px;
  left: 10px;
  background-color: #333152;
  color: white;
}
.container-fluid > .adver1_carusel > .carusel5 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn3 {
  bottom: 10px;
  left: 10px;
  background-color: #EA4953;
  color: white;
}
.container-fluid > .adver2_carusel {
  max-width: 1200px;
  margin: auto;
}
.container-fluid > .adver2_carusel > .adver2_title {
  width: 73%;
  margin: auto;
}
.container-fluid > .adver2_carusel > .adver2_title > h4 > span {
  text-decoration: none;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  position: absolute;
  top: 40%;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-nav > .owl-next {
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 35px;
  opacity: 0.7;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-nav > .owl-prev {
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid;
  width: 30px;
  height: 35px;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item {
  width: 270px;
  height: auto;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item {
  position: relative;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item > img {
  width: 100%;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item > button {
  position: absolute;
  border: none;
  font-size: 0.9rem;
  padding: 4px 8px;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn1 {
  top: 10px;
  left: 10px;
  background-color: #F4F4F4;
  color: black;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn2 {
  top: 40px;
  left: 10px;
  background-color: #333152;
  color: white;
}
.container-fluid > .adver2_carusel > .carusel6 > .owl-stage-outer > .owl-stage > .owl-item > .item > .btn3 {
  bottom: 10px;
  left: 10px;
  background-color: #EA4953;
  color: white;
}
.container-fluid > .footer {
  width: 100%;
  background-color: #F6F6F7;
  padding: 30px 0px;
  margin-top: 30px;
}
.container-fluid > .footer > .footer_items {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-fluid > .footer > .footer_items > .footer_item {
  width: 23%;
}
.container-fluid > .footer > .footer_items > .footer_item:nth-child(1) {
  align-self: flex-start;
}
.container-fluid > .footer > .footer_items > .footer_item > .nav_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.container-fluid > .footer > .footer_items > .footer_item > .nav_logo > .logo_info > .med {
  margin-bottom: 0px;
  font-size: 20px;
}
.container-fluid > .footer > .footer_items > .footer_item > .nav_logo > .logo_info > .med > span {
  color: red;
  text-decoration: none;
}
.container-fluid > .footer > .footer_items > .footer_item > .nav_logo > .logo_info > p:nth-child(2) {
  font-size: 8px;
  margin-bottom: 0px;
}
.container-fluid > .footer > .footer_items > .footer_item > .item_social {
  padding-left: 70px;
}
.container-fluid > .footer > .footer_items > .footer_item > h6 {
  font-weight: 600;
}
.container-fluid > .footer > .footer_items > .footer_item > ul {
  padding-left: 0px;
}
.container-fluid > .footer > .footer_items > .footer_item > ul > li > a {
  color: black;
  font-size: 12px;
  opacity: 0.9;
}
.container-fluid > .footer > .footer_items > .magazin_info {
  width: 23%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin__title {
  margin-bottom: 5px;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin__title > h6 {
  font-weight: 600;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin_about > p {
  opacity: 0.9;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin_social > i:nth-child(1) {
  color: white;
  background-color: #935BBE;
  border: none;
  border-radius: 5px;
  padding: 3px;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin_social > i:nth-child(2) {
  color: white;
  background-color: #0087D0;
  border: none;
  border-radius: 5px;
  padding: 3px;
}
.container-fluid > .footer > .footer_items > .magazin_info > .magazin_social > i:nth-child(3) {
  color: white;
  background-color: #27D061;
  border: none;
  border-radius: 5px;
  padding: 3px;
}
.container-fluid > .footer > .footer_end {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(223, 215, 215);
}
.container-fluid > .footer > .footer_end > p {
  opacity: 0.5;
  margin-left: 20px;
}/*# sourceMappingURL=productStyle.css.map */